.cart {
  background: #fff;
  display: none;
  padding: 10px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
  overflow: auto;
}

.cart img {
  width: 100% !important;
  height: 150px !important;
  aspect-ratio: 16/9;
  object-fit: contain;
  background-color: white;
}

.cart ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
  gap: 1rem;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.cart li {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 4px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  align-items: center;
  background: #09f;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 15px;
  top: 16px;
  transition: all 0.3s ease;
  width: 36px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

.cart::-webkit-scrollbar {
  width: 12px;
}

.cart::-webkit-scrollbar-track {
  background: #c5c5c5;
}

.cart::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
